 # arac servis data set

In [15]:
import pandas as pd
import numpy as np
from fbprophet import Prophet as pph

file = pd.read_csv("arac_servis.csv")

In [94]:
file

,tarih,plaka,marka,model,uretim_tarihi,km,parca_fiyat,iscilik_fiyat
0,2016-09-01,EKZ49F3,VOLKSWAGEN,PHOETON,2005,80372,3684,690
1,2011-12-10,HQG7T6X,MERCEDES,A180,2007,45224,749,803
2,2013-04-12,0KVF3OF,FIAT,FIORINO,2002,115800,5541,1549
3,2013-10-11,YFKAVH7,MERCEDES,E250,2002,112902,2486,312
4,2012-09-27,Q6TLM6E,VOLVO,XC90,2006,173189,3950,955
...,...,...,...,...,...,...,...,...
23995,2010-03-17,HUBEGU2,MERCEDES,S600,2000,104507,9607,860
23996,2018-02-04,F02WJRQ,FORD,FIESTA,2006,41912,3530,1463
23997,2018-10-30,JD4DPKZ,FORD,MONDEO,2005,121940,4547,985
23998,2020-03-31,IQVCC0S,FORD,KA,2002,113655,6679,1272
23999,2017-01-06,PCNKWOQ,VOLKSWAGEN,PHOETON,2012,99152,1983,1100

In [23]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tarih          24000 non-null  object
 1   plaka          24000 non-null  object
 2   marka          24000 non-null  object
 3   model          24000 non-null  object
 4   uretim_tarihi  24000 non-null  int64
 5   km             24000 non-null  int64
 6   parca_fiyat    24000 non-null  int64
 7   iscilik_fiyat  24000 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.5+ MB

In [124]:
file2 = file[['tarih', 'parca_fiyat']]

In [125]:
file2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tarih        24000 non-null  object
 1   parca_fiyat  24000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 375.1+ KB

In [151]:
file2 = file2.rename(columns={'tarih' : 'ds', 'parca_fiyat':'y'})

In [170]:
m = pph(daily_seasonality=True)
m.fit(file2)

In [184]:
future = m.make_future_dataframe(periods=30)
future.tail(30)

              ds
24000 2020-06-17
24001 2020-06-18
24002 2020-06-19
24003 2020-06-20
24004 2020-06-21
24005 2020-06-22
24006 2020-06-23
24007 2020-06-24
24008 2020-06-25
24009 2020-06-26
24010 2020-06-27
24011 2020-06-28
24012 2020-06-29
24013 2020-06-30
24014 2020-07-01
24015 2020-07-02
24016 2020-07-03
24017 2020-07-04
24018 2020-07-05
24019 2020-07-06
24020 2020-07-07
24021 2020-07-08
24022 2020-07-09
24023 2020-07-10
24024 2020-07-11
24025 2020-07-12
24026 2020-07-13
24027 2020-07-14
24028 2020-07-15
24029 2020-07-16

In [186]:
forecast = m.predict(future)
forecast.tail(30)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
24000,2020-06-17,4305.381425,1291.277367,8373.308950,4305.381425,4305.381425,658.865962,658.865962,658.865962,807.30224,...,-103.784238,-103.784238,-103.784238,-44.652039,-44.652039,-44.652039,0.0,0.0,0.0,4964.247387
24001,2020-06-18,4305.418456,1261.014267,8659.455529,4305.418456,4305.418456,738.982171,738.982171,738.982171,807.30224,...,-28.156722,-28.156722,-28.156722,-40.163346,-40.163346,-40.163346,0.0,0.0,0.0,5044.400627
24002,2020-06-19,4305.455486,1401.675594,8992.736113,4305.455486,4305.455486,804.479662,804.479662,804.479662,807.30224,...,31.998678,31.998678,31.998678,-34.821255,-34.821255,-34.821255,0.0,0.0,0.0,5109.935149
24003,2020-06-20,4305.492517,1320.581391,8809.060136,4305.492517,4305.492517,804.082453,804.082453,804.082453,807.30224,...,25.520551,25.520551,25.520551,-28.740338,-28.740338,-28.740338,0.0,0.0,0.0,5109.574969
24004,2020-06-21,4305.529547,1710.479739,9016.488651,4305.529547,4305.529547,840.967056,840.967056,840.967056,807.30224,...,55.709525,55.709525,55.709525,-22.044708,-22.044708,-22.044708,0.0,0.0,0.0,5146.496603
24005,2020-06-22,4305.566578,1436.313814,8889.487462,4305.566578,4305.566578,771.444755,771.444755,771.444755,807.30224,...,-20.993008,-20.993008,-20.993008,-14.864477,-14.864477,-14.864477,0.0,0.0,0.0,5077.011333
24006,2020-06-23,4305.603608,1362.702648,9023.196965,4305.603608,4305.603608,839.675251,839.675251,839.675251,807.30224,...,39.705215,39.705215,39.705215,-7.332203,-7.332203,-7.332203,0.0,0.0,0.0,5145.278859
24007,2020-06-24,4305.640639,1221.563104,8568.166654,4305.640639,4305.640639,703.938551,703.938551,703.938551,807.30224,...,-103.784238,-103.784238,-103.784238,0.420550,0.420550,0.420550,0.0,0.0,0.0,5009.579190
24008,2020-06-25,4305.677669,1360.242290,8680.906758,4305.677669,4305.677669,787.411983,787.411983,787.411983,807.30224,...,-28.156722,-28.156722,-28.156722,8.266465,8.266465,8.266465,0.0,0.0,0.0,5093.089652
24009,2020-06-26,4305.714700,1470.201775,8661.918118,4305.714700,4305.714700,855.386353,855.386353,855.386353,807.30224,...,31.998678,31.998678,31.998678,16.085436,16.085436,16.085436,0.0,0.0,0.0,5161.101053
24010,2020-06-27,4305.751730,1847.855826,9026.858321,4305.751730,4305.751730,856.589952,856.589952,856.589952,807.30224,...,25.520551,25.520551,25.520551,23.767162,23.767162,23.767162,0.0,0.0,0.0,5162.341682
24011,2020-06-28,4305.788761,1693.225724,9176.660094,4305.788761,4305.788761,894.225085,894.225085,894.225085,807.30224,...,55.709525,55.709525,55.709525,31.213321,31.213321,31.213321,0.0,0.0,0.0,5200.013845
24012,2020-06-29,4305.825791,1428.982674,8938.440515,4305.825791,4305.825791,824.648490,824.648490,824.648490,807.30224,...,-20.993008,-20.993008,-20.993008,38.339258,38.339258,38.339258,0.0,0.0,0.0,5130.474281
24013,2020-06-30,4305.862822,1846.201981,9128.652795,4305.862822,4305.862822,892.082623,892.082623,892.082623,807.30224,...,39.705215,39.705215,39.705215,45.075169,45.075169,45.075169,0.0,0.0,0.0,5197.945445
24014,2020-07-01,4305.899852,1131.570134,8773.842049,4305.899852,4305.899852,754.884753,754.884753,754.884753,807.30224,...,-103.784238,-103.784238,-103.784238,51.366752,51.366752,51.366752,0.0,0.0,0.0,5060.784605
24015,2020-07-02,4305.936883,1375.592862,9037.277851,4305.936883,4305.936883,836.320848,836.320848,836.320848,807.30224,...,-28.156722,-28.156722,-28.156722,57.175330,57.175330,57.175330,0.0,0.0,0.0,5142.257731
24016,2020-07-03,4305.973913,1266.064032,8830.901871,4305.973913,4305.973913,901.778392,901.778392,901.778392,807.30224,...,31.998678,31.998678,31.998678,62.477475,62.477475,62.477475,0.0,0.0,0.0,5207.752305
24017,2020-07-04,4306.010944,1437.247256,9152.502741,4306.010944,4306.010944,900.086930,900.086930,900.086930,807.30224,...,25.520551,25.520551,25.520551,67.264140,67.264140,67.264140,0.0,0.0,0.0,5206.097874
24018,2020-07-05,4306.047974,1581.133181,9094.899367,4306.047974,4306.047974,934.551138,934.551138,934.551138,807.30224,...,55.709525,55.709525,55.709525,71.539374,71.539374,71.539374,0.0,0.0,0.0,5240.599112
24019,2020-07-06,4306.085005,1592.467847,8910.123912,4306.085005,4306.085005,861.627894,861.627894,861.627894,807.30224,...,-20.993008,-20.993008,-20.993008,75.318662,75.318662,75.318662,0.0,0.0,0.0,5167.712898
24020,2020-07-07,4306.122035,1457.244860,8863.892092,4306.122035,4306.122035,925.634423,925.634423,925.634423,807.30224,...,39.705215,39.705215,39.705215,78.626969,78.626969,78.626969,0.0,0.0,0.0,5231.756458
24021,2020-07-08,4306.159066,1349.415316,8778.444105,4306.159066,4306.159066,785.014562,785.014562,785.014562,807.30224,...,-103.784238,-103.784238,-103.784238,81.496560,81.496560,81.496560,0.0,0.0,0.0,5091.173627
24022,2020-07-09,4306.196096,1458.269498,8758.973048,4306.196096,4306.196096,863.110207,863.110207,863.110207,807.30224,...,-28.156722,-28.156722,-28.156722,83.964689,83.964689,83.964689,0.0,0.0,0.0,5169.306303
24023,2020-07-10,4306.233127,1627.832392,8851.830849,4306.233127,4306.233127,925.372145,925.372145,925.372145,807.30224,...,31.998678,31.998678,31.998678,86.071228,86.071228,86.071228,0.0,0.0,0.0,5231.605272
24024,2020-07-11,4306.270157,1629.177196,8779.707917,4306.270157,4306.270157,920.679132,920.679132,920.679132,807.30224,...,25.520551,25.520551,25.520551,87.856342,87.856342,87.856342,0.0,0.0,0.0,5226.949289
24025,2020-07-12,4306.307188,1631.035902,8710.682164,4306.307188,4306.307188,952.370035,952.370035,952.370035,807.30224,...,55.709525,55.709525,55.709525,89.358271,89.358271,89.358271,0.0,0.0,0.0,5258.677223
24026,2020-07-13,4306.344218,1720.738548,9311.377626,4306.344218,4306.344218,876.920550,876.920550,876.920550,807.30224,...,-20.993008,-20.993008,-20.993008,90.611318,90.611318,90.611318,0.0,0.0,0.0,5183.264768
24027,2020-07-14,4306.381249,1638.176059,9150.181044,4306.381249,4306.381249,938.651541,938.651541,938.651541,807.30224,...,39.705215,39.705215,39.705215,91.644087,91.644087,91.644087,0.0,0.0,0.0,5245.032789
24028,2020-07-15,4306.418279,1161.010576,9120.464069,4306.418279,4306.418279,795.996056,795.996056,795.996056,807.30224,...,-103.784238,-103.784238,-103.784238,92.478055,92.478055,92.478055,0.0,0.0,0.0,5102.414336
24029,2020-07-16,4306.455310,1732.286951,9087.392382,4306.455310,4306.455310,872.272024,872.272024,872.272024,807.30224,...,-28.156722,-28.156722,-28.156722,93.126507,93.126507,93.126507,0.0,0.0,0.0,5178.727334

In [182]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

              ds         yhat   yhat_lower   yhat_upper
24025 2020-07-12  5258.677223  1680.623233  8955.097404
24026 2020-07-13  5183.264768  1353.411673  9049.060559
24027 2020-07-14  5245.032789  1407.613518  8932.030115
24028 2020-07-15  5102.414336  1501.051218  8537.092965
24029 2020-07-16  5178.727334  1527.292713  8858.239339

In [183]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24030 entries, 0 to 24029
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ds                          24030 non-null  datetime64[ns]
 1   trend                       24030 non-null  float64
 2   yhat_lower                  24030 non-null  float64
 3   yhat_upper                  24030 non-null  float64
 4   trend_lower                 24030 non-null  float64
 5   trend_upper                 24030 non-null  float64
 6   additive_terms              24030 non-null  float64
 7   additive_terms_lower        24030 non-null  float64
 8   additive_terms_upper        24030 non-null  float64
 9   daily                       24030 non-null  float64
 10  daily_lower                 24030 non-null  float64
 11  daily_upper                 24030 non-null  float64
 12  weekly                      24030 non-null  float64
 13  weekly_lower                24030 non-null  float64
 14  weekly_upper                24030 non-null  float64
 15  yearly                      24030 non-null  float64
 16  yearly_lower                24030 non-null  float64
 17  yearly_upper                24030 non-null  float64
 18  multiplicative_terms        24030 non-null  float64
 19  multiplicative_terms_lower  24030 non-null  float64
 20  multiplicative_terms_upper  24030 non-null  float64
 21  yhat                        24030 non-null  float64
dtypes: datetime64[ns](1), float64(21)
memory usage: 4.0 MB

In [160]:
 file.describe()

       uretim_tarihi             km   parca_fiyat  iscilik_fiyat
count   24000.000000   24000.000000  24000.000000   24000.000000
mean     2007.432208  100675.239833   5043.598833    1121.360583
std         4.860570   57577.765366   2876.030630     504.439590
min      2000.000000    1004.000000     50.000000     250.000000
25%      2003.000000   50768.250000   2572.750000     685.000000
50%      2007.000000  100661.000000   5045.500000    1122.000000
75%      2011.000000  151373.250000   7551.250000    1556.000000
max      2020.000000  199972.000000  10000.000000    2000.000000

In [28]:
file['uretim_tarihi'].mode()

0    2010
dtype: int64

In [30]:
file['km'].mode()

0    20089
1    80775
dtype: int64

In [32]:
file['uretim_tarihi'].median()

2007.0

In [37]:
(file['parca_fiyat'].sum())/240000

504.35988333333336

In [52]:
file['new_tarih'] = pd.to_datetime(file['tarih'])
#file['tarih'] = pd.to_datetime(file['tarih']) // changing the real dataset

In [49]:
file

,tarih,plaka,marka,model,uretim_tarihi,km,parca_fiyat,iscilik_fiyat,new_tarih
0,2016-09-01,EKZ49F3,VOLKSWAGEN,PHOETON,2005,80372,3684,690,2016-09-01
1,2011-12-10,HQG7T6X,MERCEDES,A180,2007,45224,749,803,2011-12-10
2,2013-04-12,0KVF3OF,FIAT,FIORINO,2002,115800,5541,1549,2013-04-12
3,2013-10-11,YFKAVH7,MERCEDES,E250,2002,112902,2486,312,2013-10-11
4,2012-09-27,Q6TLM6E,VOLVO,XC90,2006,173189,3950,955,2012-09-27
...,...,...,...,...,...,...,...,...,...
23995,2010-03-17,HUBEGU2,MERCEDES,S600,2000,104507,9607,860,2010-03-17
23996,2018-02-04,F02WJRQ,FORD,FIESTA,2006,41912,3530,1463,2018-02-04
23997,2018-10-30,JD4DPKZ,FORD,MONDEO,2005,121940,4547,985,2018-10-30
23998,2020-03-31,IQVCC0S,FORD,KA,2002,113655,6679,1272,2020-03-31
23999,2017-01-06,PCNKWOQ,VOLKSWAGEN,PHOETON,2012,99152,1983,1100,2017-01-06

In [54]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tarih          24000 non-null  object
 1   plaka          24000 non-null  object
 2   marka          24000 non-null  object
 3   model          24000 non-null  object
 4   uretim_tarihi  24000 non-null  int64
 5   km             24000 non-null  int64
 6   parca_fiyat    24000 non-null  int64
 7   iscilik_fiyat  24000 non-null  int64
 8   new_tarih      24000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1.6+ MB